<div class="col-lg">
  <h2 class="mb-3">Tools & Skills</h2>
  <ul class="list-unstyled">
    <li class="mb-2">
      <i class="fas fa-server text-primary me-2"></i> Node.js / Express.js
    </li>
    <li class="mb-2">
      <i class="fas fa-database text-success me-2"></i> MongoDB
    </li>
    <li class="mb-2">
      <i class="fas fa-network-wired text-warning me-2"></i> Microservices
    </li>
    <li class="mb-2"><i class="fas fa-docker text-info me-2"></i> Docker</li>
    <li class="mb-2">
      <i class="fas fa-cloud text-primary me-2"></i> AWS (EC2, S3, Lambda, etc.)
    </li>
    <li class="mb-2">
      <i class="fas fa-code-branch text-danger me-2"></i> CI/CD (GitHub
      Workflows, Jenkins)
    </li>
    <li class="mb-2">
      <i class="fas fa-laptop-code text-secondary me-2"></i> React / React
      Native
    </li>
  </ul>
</div>
